{% extends "base.html" %}

{% block title %}
fqSou 监控
{% end %}

{% block css %}
<link href="http://cdn.bootcss.com/bootstrap-table/1.7.0/bootstrap-table.min.css" rel="stylesheet">
{% end %}

{% block body %}
<div id="panel" class="panel panel-info">
    <div class="panel-heading">ip监控</div>
    <div class="panel-body">
        <table class="table" data-toggle="table"
               data-query-params="queryParams"
               data-pagination="true"
               data-search="true">
            <thead>
            <th>时间日期</th>
            <th>IP</th>
            </thead>
            <tbody>
            {% for log in logs %}
            <tr>
                <td>{{ log.datetime }}</td>
                <td>{% raw log.content.replace("\n","<br>") %}</td>
            </tr>
            {% end %}
            </tbody>
        </table>
    </div>
</div>
{% end %}

{% block js %}
<script src="http://cdn.bootcss.com/bootstrap-table/1.7.0/bootstrap-table.min.js"></script>
{% end %}



